.thumb-slider {
    margin: 50px 0 70px;
    .title {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }

  .movie-box {
    width: 100%;
    .movie-poster {
      img {
        border: 2px solid #383b46;
        border-radius: 8px;
      }
    }
    .movie-title {
      color: #8d8d8e;
      margin-top: 5px;
    }
  }
