@font-face {
  font-family: "Falling Sky";
  font-weight: 300;
  font-style: normal;
  src: url("../src/assets/fonts/fallingskylight.otf") format("opentype");
}

@font-face {
  font-family: "Falling Sky";
  font-weight: 400;
  font-style: normal;
  src: url("../src/assets/fonts/fallingsky.otf") format("opentype");
}

@font-face {
  font-family: "Falling Sky";
  font-weight: 700;
  font-style: normal;
  src: url("../src/assets/fonts/fallingskybd.otf") format("opentype");
}
